<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="{{site.url}}">{{site.title}}</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>

<a class="github-fork-ribbon" href="https://github.com/redhat-developer-demos/tekton-tutorial"
  data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork
  me on
  GitHub</a>
